# python 3.8
youtube_transcript_api
google-api-python-client
pandas
chrome-bookmarks
beautifulsoup4
pyqt5==5.14.0
openpyxl
pdf2image==1.16.0
pytesseract==0.3.8
# Linux
libleptonica-dev
tesseract-ocr
libtesseract-dev
